<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
    <main>
        <h1>Listado Usuarios</h1>
        <section class="users" id="user_list">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Imagen</th>
                    <th>Detalle</th>
                    <th>Edicion</th>
                    <th>Borrar</th>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <%- include('./partials/user', { user }) %>
                    <% }); %>
                </tbody>
            </table>
        </section>
    </main>
    <%- include('../partials/footer')  %>  
</body>
</html>