:root{
    --primary:#581F0C;
    --secondary:#E5D1AE;
    --intermedia:#DD904A;
     
}
body{

    min-height: 100vh;
    
    font-family: 'Lato', sans-serif;
    background-color: #E5D1AE;
    margin: 0px;
    color: #581F0C;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}
/*Footer y Header*/
.nav-bgc,
.mini-footer {
    background-color: var(--primary);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand,
.nav-link {
    color: var(--intermedia);
}

/*Index*/
.hometitle{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
}

.homeProductContainer{
    text-align: center;
    padding: 12px;
}
.homeProduct{
    margin-bottom: -50px;
}
.homeProductName{
    font-size: medium;
    font-weight: 800;
    margin: 0;
}
.homeProductPrice{
    font-style: italic;
    font-size:medium;
    font-weight: 600;
    margin: 0;
    
}

.btn-primary{
    background-color: #581F0C;
    border-color: #581F0C;
}
.btn-primary{
        background-color: #581F0C;
        border-color: #581F0C;    
 
}
button{
    background-color:#581F0C;
	border-radius:5px;
    color: whitesmoke;
    padding: 1px;
    font-size: 0.8em;
    padding: 0.4em;
    border: 0;
    margin: 0.5em;
}
main{flex-grow: 1;}

button:hover{
    background-color: #DD904A;
}

/*Login*/

.formContainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 50%;
}
.formContainer button, label, input{
    width: 100%;
}
 .loginImg{
     font-size: 5em;
     
 }