:root{
    --primary:#581F0C;
    --secondary: #E5D1AE;
    --intermedia: #DD904A;
    --light: #E0AD58;
    --letters: #581F0C;

     
}

* {
    box-sizing: border-box;
}

body{
    

    min-height: 100vh;

    font-family: 'Lato', sans-serif;
    background-color: var(--secondary);
    margin: 0px;
    color: var(--letters);
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}

main{flex-grow: 1;}

.container{
    width: 90%;
    margin: 0px auto;
}

.text-danger {
    color: red;
}

.btn{
	border-radius:5px;
    padding: 1px;
    font-size: 0.8em;
    padding: 0.4em;
    border: 0;
    margin: 0.5em;
    border-style: none;    
}

.primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: whitesmoke;
    border: 1px;
    border-style: solid;
    border-color: var(--primary);
}

.btn .secondary{
    background-color: var(--intermedia);
    border-color:var(--intermedia);    
 
}

.primary:hover{
    background-color: var(--intermedia);
    border: 1px;
    border-style: solid;
    border-color: var(--intermedia);
}
.btn .secondary :hover{
    background-color: var(--primary);
}

label{
    font-weight: 700;
    margin: 0.2rem;
}

input{
    border-radius: 2px;
    border: 0px;
    margin: 0.2rem;
}

h1{
    margin: 0.2rem;
    font: 1200;
    text-transform: uppercase;
}

.hide-md {
    display: block;
}

.show-only-md {
    display: none;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

/*Hasta aca son estilos para todo el sitio, consultar antes de modificar*/
/*----------------------------------------------------------------------*/



/*Footer y Header*/
/*----------------------------------------------------------------------*/
.navbar .navbar-mobile {
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-mobile .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav .search-bar-form {
    position: relative;
    padding: 0 0.3rem;
    width: 100%;
}

.top-nav .search-bar-form input {
    padding: 0.5rem 0.7rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.top-nav .search-bar-form button {
    position: absolute;
    top: 5px;
    right: 0;
    background: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
}

.top-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.navbar .logo {
	display: inline-block;
    width: 80px;
    margin-right: 1rem;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar a {
	text-decoration: none;
	color: var(--light)
}

header .navbar {
	padding: 0.5rem;
	background: var(--primary);
	color: var(--light);
}

.navbar .logo img {
	width: 100%;
	max-height: 65px;
	overflow: hidden;
}

.navbar .menu-btn {
	background: none;
	color: var(--light);
	border: 1px solid var(--intermedia);
	outline: none;
	padding: 0.4rem 0.5rem;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
}

.navbar .mobile-icons {
	font-size: 1.5rem;
}

.navbar .mobile-icons a {
	padding: 0 0.5rem;
}

/* Falta mejorar */
.navbar .collapse-links {
    overflow: hidden;
    transition: all 0.3s ease-out;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.navbar .collapse-links.show {
    transform: scaleY(1);
    max-height: 300px;
}

.navbar .navbar-nav.right {
	display: none;
}

.navbar .navbar-nav li {
	padding: 0.5rem 0;
	font-weight: 600;
}

.navbar .navbar-nav li a {
	font-size: 1rem;
	padding: 0.3rem;
	transition: all 0.5s ease-in-out;
}

footer {
    background-color: var(--primary);
    color: var(--intermedia);
    padding: 20px;
    
}
footer a{
    color: var(--intermedia);
    text-decoration: none;
    display: block;
    width: 100%;
    
}

footer a:hover{
    color: var(--secondary);
}
 
footer nav a:hover {
    border-bottom-color: var(--primary);
}
 
footer span a {
    padding: 6px 12px;
    margin-right: 12px;
    border-radius: 18px;
}
.active{
    color: var(--secondary);
}
/*About Us*/
/*----------------------------------------------------------------------*/
.container-us{
    display: block;
    align-content: center;
    margin: 10%;
    padding: 5px;
}
.container-us h2 {
    font-weight: 900;
}

/*Index*/
/*----------------------------------------------------------------------*/
.imgHome img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}
.hometitle{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: none;
    text-align: center;
    margin: 1rem 0;
}

.container-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    background: #DD904A;
    border-radius: 1.2rem;
    overflow: hidden;
  }
  
  .product-card::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #581F0C;
    transform: skewY(345deg);
    transition: 0.5s;
  }
  
  .product-card:hover::before{
    top: -70%;
    transform: skewY(390deg);
  }
  
  .product-card .product-card-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    z-index: 1;
  }
  
  .product-card .product-card-img img{
    max-width: 45%;
    transition: 0.5s;
  }
  
  .product-card:hover .product-card-img img{
    max-width: 45%;
  }
  
  .product-card .product-card-content {
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  
  .product-card .product-card-content h3 {
    font-size: 1rem;
    color: #581F0C;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .product-card .product-card-content h2 {
    font-size: 1.2rem;
    margin: 0;
    color: #581F0C;
    font-weight: 700;
  }
  
  .product-card .product-card-content a {
    position: relative;
    padding: 0.6rem 1.7rem;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    background: #581F0C;
    border-radius: 1.7rem;
    text-transform: uppercase;
  }

/* .homeProductContainer{
    text-align: center;
    padding: 12px;
}
.homeProduct{
    margin-bottom: -50px;
}
.homeProductName{
    font-size: medium;
    font-weight: 800;
    margin: 0;
}
.homeProductPrice{
    font-style: italic;
    font-size:medium;
    font-weight: 600;
    margin: 0;
} */

/* section .containerHome{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    padding: 1rem;
}

section .containerHome img{
    width: 100%;
} */


@media(min-width:1024px){
    section .containerHome article{
        width: 33%;
    }
}
/*Login*/
/*----------------------------------------------------------------------*/

.formContainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 75%;
}
.formContainer button, label, input{
    width: 100%;
}
 .loginImg{
     font-size: 5em;
}
.rememberLogin{
    display: block;
    margin: 0.5rem;
}
.rememberLogin input{
    width: 1rem;
}
/*Listado*/
/*----------------------------------------------------------------------*/

.listContainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 100%;
}
.listContainer button, label, input{
    width: 100%;
}


/*Formulario de contacto*/
/*----------------------------------------------------------------------------------------*/



/*Formulario registro*/
/*----------------------------------------------------------------------*/
.register{
    justify-content: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 100%;
    flex-wrap: wrap;
    padding:  0px 10px;
    display: flex;
    margin-top: 1vh;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
}
.register button{
    width: 47%;
}
.del:hover{
    background-color:var(--secondary);
    color: var(--primary);
}


.register input{
    padding: 0.4rem 0.2rem;
}
.register label,
h2{
    font-weight: 900;
}

/* ProductDetail Page */
.product-detail .product {
    display: flex;
    flex-direction: column;
}

.product-detail .product .product-actions {
    display: flex;
    flex-direction: column;
}

.product-detail .product .product-img img{
    width: 100%;
    margin-bottom: -4rem;
}

.product-detail .product .product-info {
    text-align: center;
}

.product-detail .product .product-buy .btn {
    padding: 0.5rem 0.7rem;
    margin: 0;
    font-size: 1rem;
    border: none;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.product-detail .product .product-description {
    order: -1;
    text-align: center;
}

.product-detail .product .product-info h2,
.product-detail .product .product-description p,
.product-detail .product .product-description h2 {
    margin: 0.5rem 0;
}

/* ProductCart Page */
.product-cart .cart .cart-item {
    border-bottom: 1px solid var(--primary);
}

.product-cart .cart .cart-item .item-img {
    width: 100%;
    display: flex;
    align-items: center;
}

.product-cart .cart .cart-item .item-img img {
    width: 70%;
    margin-left: -3rem;
    margin-bottom: -2rem;
}

.product-cart .cart .cart-item .item-actions th {
    text-align: left;
    padding: 0.5rem;
}

.product-cart .cart .cart-item .item-actions td {
    width: 20%;
    padding: 0.5rem;
}

.product-cart .cart .cart-item .item-actions button {
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1rem;
}

.product-cart .cart .checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-outline-primary {
    background: none;
    color: var(--primary);
    border: 2px solid var(--primary);
    outline: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

.btn-outline-primary:hover {
    background: var(--primary);
    color: var(--light);
}

/* ProductAdd Page */
.product-add-card {
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
}

.product-add-card h1 {
    margin-bottom: 1rem;
}

.product-add-card .product-add-image {
    display: none;
}

.product-add .product-add-form {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #ffffff;
}

.field {
    margin-bottom: 1rem;
}

.field label {
    display: inline-block;
    margin: 0 0 0.5rem;
}

.field input, .field select {
    width: 100%;
    margin: 0;
    padding: 0.7rem 0.5rem;
    outline: none;
    background: #ffffff;
    border: 1px solid var(--intermedia);
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}

.field input.input-danger {
    border: 1px solid red;
}

.field input:focus {
    box-shadow: -0 0 3px 1px var(--intermedia);
}

.field .field-radio-group {
    display: flex;
    flex-direction: column;
}

.field .field-radio-group div {
    position: relative;
    margin-right: 0.5rem;
}

.field .field-radio-group div input, label {
    width: auto;
}

.field textarea {
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid var(--intermedia);
}

.field textarea:focus {
    box-shadow: -0 0 3px 1px var(--intermedia);
} 

.btn-group .btn-primary,
.btn-group .btn-outline-primary {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

.btn-primary {
    background: var(--primary);
    color: var(--intermedia);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border: 2px solid var(--primary);
    outline: none;
    transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
    opacity: 0.9;
}

/* Media queries */
@media (min-width: 560px) {
    /* Home-List products */
    .container-products {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .product-card {
        width: 49%;
    }

    .product-card .product-card-img img{
        max-width: 50%;
    }
      
    .product-card:hover .product-card-img img{
    max-width: 45%;
    }
      
    .product-card .product-card-content a {
        top: 200px;
        opacity: 0;
    }

    .product-card:hover .product-card-content a {
        top: 0;
        opacity: 1;
    }

    /* ProductDetail Page */
    .product-detail .product .product-info {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }

    .product-detail .product .product-description,
    .product-detail .product .product-info {
        text-align: left;
    }

    .product-detail .product .product-info p {
        width: 50%;
    }

    /* ProductCart Page */
    .product-cart .cart .cart-item .item-img img {
        width: 50%;
    }

    /* ProductAdd Page */
    .field-group {
        display: flex;
        justify-content: space-between;
    }

    .field-group div:first-child{
        width: 70%;
    }

    .field-group div:last-child{
        width: 25%;
    }

    .field .field-radio-group {
        flex-direction: row;
    }

    .btn-group {
        display: flex;
        justify-content: flex-end;
    }

    .btn-group .btn-primary,
    .btn-group .btn-outline-primary {
        width: 20%;
    }

    .btn-group .btn-primary {
        margin-right: 1rem;
    }
}

@media (min-width: 768px) {
    /*Homepage*/
    .imgHome img {
        height: 80vh;
    }

    .product-card {
        width: 32%;
    }

    .container-products::after {
        content: '';
        flex: auto;
    }

    .formContainer{
        width: 40%;
    }
        
    
    /* ProductDetail Page */
    .product-detail .product {
        flex-direction: row;
        align-items: center;
    }

    .product-detail .product .product-img {
        width: 20%;
    }

    .product-detail .product .product-img img {
        margin-left: 34rem;
    }

    .product-detail .product .product-actions {
        width: 40%;
        margin-left: -6rem;
    }

    /* ProductCart Page */
    .product-cart .cart .cart-item {
        display: flex;
        align-items: center;
    }

    .product-cart .cart .cart-item .item-img img {
        width: 45%;
    }

    /* ProductAdd Page */
    .product-add-card {
        display: flex;
        margin: 2rem auto;
    }

    .product-add .product-add-form {
        border-radius: 0 5px 5px 0;
    }

    .product-add-card .product-add-image {
        width: 50%;
        padding: 0 0.5rem;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        border-radius: 5px 0 0 5px;
    }

    .product-add-card .product-add-image img {
        width: 100%;
    }

    .product-add .product-add-form {
        margin: 0;
    }

    /*Footer & Header*/
    .navbar {
		display: flex;
		justify-content: space-between;
        align-items: center;
	}


	.navbar .menu-btn,
	.navbar .mobile-icons {
		display: none;
	}

	.navbar .logo {
		margin-right: 1rem;
	}

	.navbar .collapse-links {
		display: flex;
		justify-content: space-between;
        width: 100%;
        max-height: 100%;
        transform: none;
        overflow: visible;
	}

	.navbar .navbar-nav.right {
		display: flex;
	}

	.collapse-links .left,
	.collapse-links .right {
		display: flex;
	}

	.collapse-links .left li a {
		position: relative;
		
	}

	.collapse-links .left li a::after {
    content: '';
    position: absolute;
    left: 0.3rem;
    right: 0.3rem;
    bottom: -8px;
    height: 3px;
    background-color: var(--intermedia);
    transform: translateY(6px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
	}

	.collapse-links .left li a:hover::after {
		opacity: 1;
    transform: translateY(-3px);
	}

	.collapse-links .right li a{
		border: 1px solid var(--light);
		border-radius: 5px;
		margin-left: 1rem;
		padding: 0.5rem;
		transition: all 0.5s ease-in-out;
	}
	.collapse-links .right li a:hover {
		background: var(--light);
		color: var(--primary);
	}

    footer{
        display: flex;
        justify-content: space-between;
    }
    footer a{
        display: inline;
    }
    footer .right{
        text-align: right;
        width: 40%;
    }
    /*Register*/
    /*----------------------------------------------------------------------*/
    .register{
        width: 40%;
    }
    /*About Us*/
    /*----------------------------------------------------------------------*/
    .container-us{
        display: block;
        align-content: center;
        margin: 0 20%;
        padding: 5px;
    }

    table { 
        width: 100%; 
        border-collapse: collapse; 
      }
      /* Zebra striping */
      tr:nth-of-type(odd) { 
        background: var(--light); 
      }
      th { 
        background: var(--primary); 
        color: var(--secondary); 
        font-weight: bold; 
      }
      td, th { 
        padding: 6px; 
        border: 1px solid #ccc; 
        text-align: left; 
      }
}

@media (min-width: 1024px) {
    /*Homepage*/
    .product-card {
        width: 24%;
    }

    .formContainer{
        width: 33%;
    }
    .formContainer .btn{
        width: 200px;
    }

    /* ProductDetail Page */
    .product-detail .product .product-buy {
        width: 50%;
        margin-top: 1rem;
    }

    /* ProductCart Page */
    .product-cart .cart .cart-item .item-img {
        width: 50%;
    }

    .product-cart .cart .cart-item .item-img img {
        width: 40%;
    }

    /* ProductAdd Page */
    .product-add-card {
        max-width: 80%;
    }
}
/*---------------------------Tabla de ususarios------------*/
@media 
only screen and (max-width: 769px)  {
    .listContainer{
        margin-left: -10%;
    }

    .listContainer table{
        width: 150%;
    }
    .listContainer button, label, input {
        width: 82%;
    }

    .listContainer .buscadorForm{
        padding-left: 15%;
    }

	/* Force table to not be like tables anymore */
	.listContainer table, thead, tbody, th, td, tr { 
        display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.listContainer thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.listContainer tr { border: 1px solid var(--secondary) }
	
	.listContainer td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 40%; 
        
    }
	
	.listContainer td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0px;
        left: 2px;;
		width: 1%; 
		padding-right: 0px; 
		white-space: nowrap;
    }
    
    .listContainer tr:nth-of-type(odd) { 
        background: var(--light); 
      }
	
	/*
	Label the data
	*/
	.listContainer td:nth-of-type(1):before { content: "Nombre"; }
	.listContainer td:nth-of-type(2):before { content: "Apellido"; }
	.listContainer td:nth-of-type(3):before { content: "Email"; }
	.listContainer td:nth-of-type(4):before { content: "Foto"; }
	.listContainer td:nth-of-type(5):before { content: "Detalle"; }
	.listContainer td:nth-of-type(6):before { content: "Edicion"; }
	.listContainer td:nth-of-type(7):before { content: "Borrar"; }
}
