:root{
    --primary:#581F0C;
    --secondary: #E5D1AE;
    --intermedia: #DD904A;
    --light: #E0AD58;
    --letters: #581F0C;
     
}
body{
    

    min-height: 100vh;

    font-family: 'Lato', sans-serif;
    background-color: var(--secondary);
    margin: 0px;
    color: var(--letters);
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}

main{flex-grow: 1;}

.container{
    width: 90%;
    margin: 0px auto;
}

.btn{
	border-radius:5px;
    padding: 1px;
    font-size: 0.8em;
    padding: 0.4em;
    border: 0;
    margin: 0.5em;
    border-style: none;    
}

.primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: whitesmoke;
    border: 1px;
    border-style: solid;
    border-color: var(--primary);
}

.btn .secondary{
    background-color: var(--intermedia);
    border-color:var(--intermedia);    
 
}

.primary:hover{
    background-color: var(--intermedia);
    border: 1px;
    border-style: solid;
    border-color: var(--intermedia);
}
.btn .secondary :hover{
    background-color: var(--primary);
}

label{
    font-weight: 700;
    margin: 0.2rem;
}

input{
    border-radius: 2px;
    border: 0px;
    margin: 0.2rem;
}

h1{
    margin: 0.2rem
}

.hide-md {
    display: block;
}

.show-only-md {
    display: none;
}

/*Hasta aca son estilos para todo el sitio, consultar antes de modificar*/
/*----------------------------------------------------------------------*/



/*Footer y Header*/
/*----------------------------------------------------------------------*/

footer {
    background-color: var(--primary);
    color: var(--intermedia);
    padding: 20px;
    
}
a{
    color: var(--intermedia);
    text-decoration: none;
    display: block;
    width: 100%;
    
}

a:hover{
    color: var(--secondary);
}
 
footer nav a:hover {
    border-bottom-color: var(--primary);
}
 
footer span a {
    padding: 6px 12px;
    margin-right: 12px;
    border-radius: 18px;
}
.active{
    color: var(--secondary);
}

/*Index*/
/*----------------------------------------------------------------------*/

.hometitle{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -50px;
}

.homeProductContainer{
    text-align: center;
    padding: 12px;
}
.homeProduct{
    margin-bottom: -50px;
}
.homeProductName{
    font-size: medium;
    font-weight: 800;
    margin: 0;
}
.homeProductPrice{
    font-style: italic;
    font-size:medium;
    font-weight: 600;
    margin: 0;
}

section .containerHome{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    padding: 1rem;
}

section .containerHome img{
    width: 100%;
}

@media(min-width:768px){
    section .containerHome article{
        width: 50%;
    }
}

@media(min-width:1024px){
    section .containerHome article{
        width: 33%;
    }
}
/*Login*/
/*----------------------------------------------------------------------*/

.formContainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 75%;
}
.formContainer button, label, input{
    width: 100%;
}
 .loginImg{
     font-size: 5em;
}
.rememberLogin{
    display: block;
    margin: 0.5rem;
}
.rememberLogin input{
    width: 1rem;
}


/*Formulario registro*/
/*----------------------------------------------------------------------*/
.register{
    flex-wrap: nowrap;
    padding: 10px;
    display: flex;

    margin-top: 15vh;
}
.register button{
    width: 50%;
}
.register label {
    text-align: left;
}

/* ProductDetail Page */
.product-detail .product {
    display: flex;
    flex-direction: column;
}

.product-detail .product .product-actions {
    display: flex;
    flex-direction: column;
}

.product-detail .product .product-img img{
    width: 100%;
    margin-bottom: -4rem;
}

.product-detail .product .product-info {
    text-align: center;
}

.product-detail .product .product-buy .btn {
    padding: 0.5rem 0.7rem;
    margin: 0;
    font-size: 1rem;
    border: none;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.product-detail .product .product-description {
    order: -1;
    text-align: center;
}

.product-detail .product .product-info h2,
.product-detail .product .product-description p,
.product-detail .product .product-description h2 {
    margin: 0.5rem 0;
}

/* ProductCart Page */
.product-cart .cart .cart-item {
    border-bottom: 1px solid var(--primary);
}

.product-cart .cart .cart-item .item-img {
    width: 100%;
    display: flex;
    align-items: center;
}

.product-cart .cart .cart-item .item-img img {
    width: 70%;
    margin-left: -3rem;
    margin-bottom: -2rem;
}

.product-cart .cart .cart-item .item-actions th {
    text-align: left;
    padding: 0.5rem;
}

.product-cart .cart .cart-item .item-actions td {
    width: 20%;
    padding: 0.5rem;
}

.product-cart .cart .cart-item .item-actions button {
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1rem;
}

.product-cart .cart .checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-outline-primary {
    border: 2px solid var(--primary);
    background: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    color: var(--primary);
    transition: all 0.5s ease-in-out;
}

.btn-outline-primary:hover {
    background: var(--primary);
    color: #ffffff;
}


/* Media queries */
@media (min-width: 560px) {
    /* ProductDetail Page */
    .product-detail .product .product-info {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }

    .product-detail .product .product-description,
    .product-detail .product .product-info {
        text-align: left;
    }

    .product-detail .product .product-info p {
        width: 50%;
    }

    /* ProductCart Page */
    .product-cart .cart .cart-item .item-img img {
        width: 50%;
    }
}

@media (min-width: 768px) {
    /*Homepage*/
   
    .formContainer{
        width: 40%;
    }
        
    
    /* ProductDetail Page */
    .product-detail .product {
        flex-direction: row;
        align-items: center;
    }

    .product-detail .product .product-img {
        width: 60%;
    }

    .product-detail .product .product-img img {
        margin-left: -4rem;
    }

    .product-detail .product .product-actions {
        width: 40%;
        margin-left: -6rem;
    }

    /* ProductCart Page */
    .product-cart .cart .cart-item {
        display: flex;
        align-items: center;
    }

    .product-cart .cart .cart-item .item-img img {
        width: 45%;
    }
    /*Header*/
    header nav,
    footer{
        display: flex;
        justify-content: space-between;
    }
    header a,
    footer a{
        display: inline;
    }
    .right{
        text-align: right;
        width: 40%;
    }
}

@media (min-width: 1024px) {
    /*Homepage*/
    .formContainer{
        width: 33%;
    }
    .formContainer .btn{
        width: 200px;
    }

    /* ProductDetail Page */
    .product-detail .product .product-buy {
        width: 50%;
        margin-top: 1rem;
    }

    /* ProductCart Page */
    .product-cart .cart .cart-item .item-img {
        width: 50%;
    }

    .product-cart .cart .cart-item .item-img img {
        width: 40%;
    }
}