:root{
    --primary:#581F0C;
    --secondary: #E5D1AE;
    --intermedia: #DD904A;
    --light: #E0AD58;
    --letters: #581F0C;
     
}
body{

    min-height: 100vh;

    font-family: 'Lato', sans-serif;
    background-color: var(--secondary);
    margin: 0px;
    color: var(--letters);
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}

main{flex-grow: 1;}

.container{
    width: 90%;
    margin: 0px auto;
}

.btn{
	border-radius:5px;
    padding: 1px;
    font-size: 0.8em;
    padding: 0.4em;
    border: 0;
    margin: 0.5em;
    border-style: none;    
}

.primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: whitesmoke;
    border: 1px;
    border-style: solid;
    border-color: var(--primary);
}

.btn .secondary{
    background-color: var(--intermedia);
    border-color:var(--intermedia);    
 
}

.primary:hover{
    background-color: var(--intermedia);
    border: 1px;
    border-style: solid;
    border-color: var(--intermedia);
}
.btn .secondary :hover{
    background-color: var(--primary);
}

label{
    font-weight: 700;
    margin: 0.2rem;
}

input{
    border-radius: 2px;
    border: 0px;
    margin: 0.2rem;
}

h1{
    margin: 0.2rem
}

/*Hasta aca son estilos para todo el sitio, consultar antes de modificar*/
/*----------------------------------------------------------------------*/



/*Footer y Header*/
.nav-bgc,
.mini-footer {
    background-color: var(--primary);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand,
.nav-link {
    color: var(--intermedia);
}

/*Index*/
/*----------------------------------------------------------------------*/
.hometitle{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -50px;
}

.homeProductContainer{
    text-align: center;
    padding: 12px;
}
.homeProduct{
    margin-bottom: -50px;
}
.homeProductName{
    font-size: medium;
    font-weight: 800;
    margin: 0;
}
.homeProductPrice{
    font-style: italic;
    font-size:medium;
    font-weight: 600;
    margin: 0;
}

section .containerHome{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    padding: 1rem;
}

section .containerHome img{
    width: 100%;
}

@media(min-width:768px){
    section .containerHome article{
        width: 50%;
    }
}

@media(min-width:1024px){
    section .containerHome article{
        width: 33%;
    }
}
/*Login*/
/*----------------------------------------------------------------------*/

.formContainer{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 75%;
}
.formContainer button, label, input{
    width: 100%;
}
 .loginImg{
     font-size: 5em;
}
.rememberLogin{
    display: block;
    margin: 0.5rem;
}
.rememberLogin input{
    width: 1rem;
}
@media(min-width:768px){
    .formContainer{
        width: 40%;
    }
    
}
@media(min-width:1024px){
    .formContainer{
        width: 33%;
    }
    .formContainer .btn{
        width: 200px;
    }
}