<div class="product-card">
  <div class="product-card-img">
    <img src="/img/products/<%= product.image %>" alt="Imagen de producto">
  </div>
  <div class="product-card-content">
    <h3><%= product.name %> </h3>
    <h2><%= product.price %> </h2>
    <a href="/products/<%= product.id %>">Ver producto</a>
  </div>
</div>

