<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
  <main>
      <div class="container-us">
        <h2>CoffeShop</h2>
        <h3>Nosotros: </h3>
        <p>Somos una empresa familiar apasionada por crear experiencias únicas acompañadas de productos de alta calidad, generando lazos duraderos con nuestros clientes.</p>
        <h3>Nuestra Mision: </h3>
        <p>Para los amantes de un buen café, somos los puntos de referencia más visitados diariamente en nuestra ciudad. <br> SOÑAMOS CON BRINDAR EL SERVICIO MÁS PLACENTERO Y DE MAYOR CALIDAD DEL PAÍS...</p>
      </div>
  </main>
  <%-include('../partials/footer')%>
</body>
</html>