<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
  <main>
    <div class="contact-page">
      <div class="form-contact">
          <h1>Contacto</h1>
          <div class="field">
            <label for="name">Nombre</label>
            <input type="text" name="name">
          </div>
          <div class="field">
            <label for="email">Correo Electrónico</label>
            <input type="email" name="email">
          </div>
          <div class="field">
            <label for="message">Mensaje</label>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="field">
            <button class="btn-outline-primary" style="width: 200px;" type="submit">Enviar</button>
          </div>
      </div>
  </div>
  </main>
  <%-include('../partials/footer')%>
</body>
</html>