<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Cargo fuente lato-->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Bienvenido a Café del Mundo</title>
</head>
<body>
    <header>
        <!--Acá va el header-->
    </header>
    <main class="homepage">
        <!--Imagén principal-->
        <section class="imagenHome">
            <img src="/img/home1.png" alt="imagen del home" width="50%">
        </section>

        <!--Productos destacados-->
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <article class="containerProdDes">
                    <div class="productoImg">
                        <img src="/img/africa.png" alt="destacado1" width="50%">
                    </div>
                    <div class="productoDetalle">
                        <p class="nombreDestacados">ORIGEN ÁFRICA</p>
                        <p class="preciosDestacados">Precio $</p>
                    </div>
                </article>
            </div>
        </div>
        <section class="productosDestacados">
            <h1 class="tituloProdDes">Productos Destacados</h1>

            <article class="containerProdDes">
                <div class="productoImg">
                    <img src="/img/africa.png" alt="destacado1" width="50%">
                </div>
                <div class="productoDetalle">
                    <p class="nombreDestacados">ORIGEN ÁFRICA</p>
                    <p class="preciosDestacados">Precio $</p>
                </div>
            </article>

            <article class="containerProdDes">
                <div class="productoImg">
                    <img src="/img/asia.png" alt="destacado2" width="50%">
                </div>
                <div class="productoDetalle">
                    <p class="nombreDestacados">ORIGEN ASIA</p>
                    <p class="preciosDestacados">Precio $</p>
                </div>
            </article>

            <article class="containerProdDes">
                <div class="productoImg">
                    <img src="/img/brasil.png" alt="destacado3" width="50%">
                </div>
                <div class="productoDetalle">
                    <p class="nombreDestacados">ORIGEN BRASIL</p>
                    <p class="preciosDestacados">Precio $</p>
                </div>
            </article>

            <article class="containerProdDes">
                <div class="productoImg">
                    <img src="/img/brasilColombiaHonduras.png" alt="destacado4" width="50%">
                </div>
                <div class="productoDetalle">
                    <p class="nombreDestacados">ORIGEN BRASIL - COLOMBIA - HONDURAS</p>
                    <p class="preciosDestacados">Precio $</p>
                </div>
            </article>

            <article class="containerProdDes">
                <div class="productoImg">
                    <img src="/img/colombia.png" alt="destacado5" width="50%">
                </div>
                <div class="productoDetalle">
                    <p class="nombreDestacados">ORIGEN COLOMBIA</p>
                    <p class="preciosDestacados">Precio $</p>
                </div>
            </article>

            <article class="containerProdDes">
                <div class="productoImg">
                    <img src="/img/etiopia.png" alt="destacado6" width="50%">
                </div>
                <div class="productoDetalle">
                    <p class="nombreDestacados">ORIGEN ETIOPÍA</p>
                    <p class="preciosDestacados">Precio $</p>
                </div>
            </article>

        </section>
    </main>
    <footer>
        <!--Acá va el footer-->
    </footer>
</body>
</html>