<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Cargo fuente lato-->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!--Cargo icono de avatar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>¡Ingresá a tu cuenta!</title>
</head>
<body>
    <header>
        <!--Acá va el header-->
    </header>

    <main>
        
        <form action="home.html" method="GET">
           
            <!--Contenedor de login-->
            <div class="loginImg">
                <i class="fas fa-user-circle"></i>
            </div>

            <!--Campos del Login-->
            <div class="loginContainer">
                <h1>Iniciar Sesión</h1>
                

                <label for="email"> Correo Electrónico</label>
                <input type="text" id="email" name="email required"><br>               

                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña" required><br>

                <br><button type="submit">Ingresar</button> <br>

                <label>
                    <input type="checkbox" name="recordarme" checked>Recordarme
                </label>
            
                <!--Falta link para olvidar contraseña-->
                <a href="">Olvidé mi contraseña</a>

                <br><button>Registrarme</button>              

            </div>

        </form>

    </main>

    <footer>
        <!--Acá va el footer-->
    </footer>
    
</body>
</html>