<footer >
    <span class="left">
      Copyright © 2020 CoffeeShoop
    </span>
    <span class="right ">
      <a href=""><i class="fab fa-instagram-square"></i> Instagram</a>
      <a href=""><i class="fab fa-facebook-square"></i> Facebook</a>
      <a href=""><i class="fab fa-twitter-square"></i> Twitter</a>
    </span>   
</footer>