<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--cdn de font awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css">
  <!--Estilos internos-->
  <link rel="stylesheet" href="/css/style.css">

  <!--Cargo fuente lato-->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <!--Js Validator -->
  <script src="/js/validator.min.js"></script>
  <script src ="/js/validator.js"></script>
  <script src ="/js/validatorRegister.js"></script>


  <title>Bienvenido a Café del Mundo</title>
  
</head>