<header>
  <nav class="navbar">
    <div class="navbar-mobile">
      <div class="top-nav">
        <a class="logo-mobile" href="/"><img src="/img/logo3.png"></a>
        <a class="logo" href="/"><img src="/img/logo-desktop.png"></a>
        <form action="/products/search" class="search-bar-form">
          <input type="text" name="search" placeholder="Buscar productos&hellip;" value="<%= locals.search ? locals.search : "" %>">
         <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <ul class="navbar-nav right" id="segundoUl">
          <li><a href="/products/cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
          <% if (locals.userLoggedIn  && locals.userLoggedIn.categoryId == 1) { %>
            <li class="liDesp"><a href="/"><i class="fas fa-user"></i> <%= userLoggedIn.first_name %> </a>
              <ul class="ulDesp">
                <li><a href="/user/list">Usuarios</a></li>
                <li><a href="/products/create">Crear producto</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
              </ul>
            </li>
            <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Salir </a></li>
          <%} else if (locals.userLoggedIn  && locals.userLoggedIn.categoryId != 1) { %>
            <li><a href="/"><i class="fas fa-user"></i> <%= userLoggedIn.first_name %> </a></li>
            <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Salir </a></li>
          <% } else {%>
            <li><a href="/user/login"><i class="fas fa-user"></i> Iniciar Sesión</a></li>
          <% } %>
        </ul>
      </div>
      <div class="top-down">
        <button class="menu-btn" id="toggle-menu"><i class="fas fa-bars"></i></button>
        <div class="mobile-icons">
          <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
          <% if (locals.userLoggedIn) { %>
            <a href="/"><i class="fas fa-user"></i></a>
            <a href="/user/logout"><i class="fas fa-sign-out-alt"></i></a>
          <% } else { %>
            <a href="/user/login"><i class="fas fa-user"></i></a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="collapse-links" id="menu-mobile">
      <ul class="navbar-nav left">
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/aboutus">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
        <% if (locals.userLoggedIn && locals.userLoggedIn.categoryId == 1) { %>
          <li class="admin"><a href="/products/create">Crear Producto</a></li>
          <li class="admin"><a href="/user/list">Usuarios</a></li>
          <li class="admin"><a href="/dashboard">Dashboard</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>