<header>
  <nav class="navbar">
    <div class="navbar-mobile">
      <a class="logo" href="/"><img src="/img/logo2.png"></a>
      <button class="menu-btn"><i class="fas fa-bars"></i></button>
      <div class="mobile-icons">
        <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        <% if (locals.user) { %>
          <a href="/user/profile"><i class="fas fa-user"></i></a>
          <a href="/user/logout"><i class="fas fa-sign-out-alt"></i></a>
        <% } else { %>
          <a href="/user/login"><i class="fas fa-user"></i></a>
        <% } %> 
      </div>
    </div>
    <div class="collapse-links">
      <ul class="navbar-nav left"> 
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/aboutus">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
      <ul class="navbar-nav right">
        <li><a href="/products/cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
        <% if (locals.user) { %>
          <li><a href="/user/profile"><i class="fas fa-user"></i> <%= user.first_name %> </a></li>
          <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Salir </a></li>
        <% } else {%>
          <li><a href="/user/login"><i class="fas fa-user"></i> Iniciar Sesión</a></li>
        <% } %> 
      </ul>
    </div>
  </nav>
</header>