<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
  <!--Slider principal-->
  <div class="imgHome">
    <img src="/img/home2.webp"width="100%">
  </div>
  <main class="homepage container">
    <!--Productos destacados-->
    <section class="homepage">
      <h1 class="hometitle">Últimos Productos</h1>

      <div class="container-products">
        <% products.forEach(product => { %>
            <%- include('../products/partials/product', { product }) %> 
        <% }); %>
    </div>
    </section>
  </main>

  <%-include('../partials/footer')%>

</body>
</html>