<!DOCTYPE html>
<html lang="en">
<% -include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
  <main class="homepage">
    <!--Slider principal-->
    <div class="imgHome">
      <img src="/img/home2.png"width="100%">
    </div>
   

    <!--Productos destacados-->
    <section class="homepage">
      <h1 class="hometitle">Productos Destacados</h1>

      <div class="containerHome">
        <article class="homeContainer">
          <div class="homeProduct">
            <img src="/img/africa.png" alt="destacado1">
          </div>
          <div class="homeProductContainer">
            <p class="homeProductName">ORIGEN ÁFRICA</p>
            <p class="homeProductPrice">Precio $</p>
            <button class="btn primary">Agregar al carrito</button>                            
          </div>
        </article>
        
        <article class="homeContainer">
          <div class="homeProduct">
            <img src="/img/asia.png" alt="destacado2">
           </div>
           <div class="homeProductContainer">
             <p class="homeProductName">ORIGEN ASIA</p>
             <p class="homeProductPrice">Precio $</p>
             <button class=" btn primary">Agregar al carrito</button>
            </div>
        </article>
          
        <article class="homeContainer">
            <div class="homeProduct">
              <img src="/img/brasil.png" alt="destacado3">
            </div>
            <div class="homeProductContainer">
              <p class="homeProductName">ORIGEN BRASIL</p>
              <p class="homeProductPrice">Precio $</p>
              <button class=" btn primary">Agregar al carrito</button>
          </div>
        </article>
       
        <article class="homeContainer">
          <div class="homeProduct">
            <img src="/img/brasilColombiaHonduras.png" alt="destacado4">
          </div>
          <div class="homeProductContainer">
            <p class="homeProductName">ORIGEN BRASIL - COLOMBIA - HONDURAS</p>
            <p class="homeProductPrice">Precio $</p>
            <button class=" btn primary">Agregar al carrito</button>
          </div>
        </article>
        
        <article class="homeContainer">
          <div class="homeProduct">
            <img src="/img/colombia.png" alt="destacado5">
          </div>
          <div class="homeProductContainer">
            <p class="homeProductName">ORIGEN COLOMBIA</p>
            <p class="homeProductPrice">Precio $</p>
            <button class=" btn primary">Agregar al carrito</button>
          </div>
        </article>
        
        <article class="homeContainer">
          <div class="homeProduct">
            <img src="/img/etiopia.png" alt="destacado6">
          </div>
          <div class="homeProductContainer">
            <p class="homeProductName">ORIGEN ETIOPÍA</p>
            <p class="homeProductPrice">Precio $</p>
            <button class=" btn primary">Agregar al carrito</button>
          </div>
        </article>
      </div>
    </section>
  </main>

  <%-include('../partials/footer')%>

</body>
</html>