<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
  <!--Slider principal-->
  <div class="imgHome">
    <img src="/img/home2.png"width="100%">
  </div>
  <main class="homepage container">
    <!--Productos destacados-->
    <section class="homepage">
      <h1 class="hometitle">Últimos Productos</h1>

      <div class="container-products">
        <% for (let i=0;i<6;i++){ %>
          <%- include('../products/partials/product', { product:products[i]}) %> 
        <% } %>
    </div>
    </section>
  </main>

  <%-include('../partials/footer')%>

</body>
</html>