<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
  <main class="homepage container">
    <!--Productos destacados-->
    <section class="homepage">

        <h1 class="hometitle" style="font-size: 2.5rem; margin-top: 2rem;">404</h1>
        <h1 class="hometitle" style="font-size: 2.5rem; margin-top: 2rem;">Página no encontrada</h1>

    </div>
    </section>
  </main>

  <%-include('../partials/footer')%>

</body>
</html>