<!DOCTYPE html>
<html lang="en">
<!-- EJS partial head -->
<%- include ('../partials/head') %> 
<body>
  <!-- EJS partial header-->
  <%- include ('../partials/header') %>
  <main class="product-cart">
    <div class="container">
      <h1>Productos en tu carrito</h1>
      <div class="cart">
        <div class="cart-item">
          <div class="item-img">
            <img src="/img/products/product_1.webp" alt="Imagen Producto">
            <p>
              <b>Origen Brasil</b><br>
              <span>Tostado Suizo</span><br>
              <span>Tamaño 250gr.</span><br>
            </p>
          </div>
          <div class="item-actions">
            <p>Cantidad: 2</p>
            <p>Unidad: $250</p>
            <p>Cantidad: $500</p>
          </div>
        </div>
        <div class="cart-item">
          <div class="item-img">
            <img src="/img/products/product_1.webp" alt="Imagen Producto">
            <p>
              <b>Origen Brasil</b><br>
              <span>Tostado Suizo</span><br>
              <span>Tamaño 250gr.</span><br>
            </p>
          </div>
          <div class="item-actions">
            <p>Cantidad: 2</p>
            <p>Unidad: $250</p>
            <p>Cantidad: $500</p>
          </div>
        </div>
        <div class="cart-item">
          <div class="item-img">
            <img src="/img/products/product_1.webp" alt="Imagen Producto">
            <p>
              <b>Origen Brasil</b><br>
              <span>Tostado Suizo</span><br>
              <span>Tamaño 250gr.</span><br>
            </p>
          </div>
          <div class="item-actions">
            <p>Cantidad: 2</p>
            <p>Unidad: $250</p>
            <p>Cantidad: $500</p>
          </div>
        </div>
        <div class="checkout">
          <h2>Total: $5000</h2>
          <button class="btn-outline-primary">Pagar</button>
        </div>
      </div>
    </div>
  </main>
  <!-- EJS partial footer -->
  <%- include ('../partials/footer')%> 
</body>
</html>